:host {
    --menuHeight: 90px;
    --leftRightPadding: 5%;

    --primaryColor: #f3743b;
    --secondaryColor: #d71a75;
    
    box-sizing: border-box;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

div {
    min-height: calc(100vh - 30px);
}