div {
    background-size: cover;
}

div div {
    background: linear-gradient(to top, var(--backgroundColor), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

div div div {
    background: linear-gradient(to right, var(--backgroundColor), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    padding: var(--menuHeight) var(--leftRightPadding);
    box-sizing: border-box;
    height: 40vw;
}

p {
    background: linear-gradient(to bottom left, var(--primaryColor), var(--secondaryColor));
    line-height: 20px;
    display: inline-block;
    background-clip: text;
    color: transparent;
    font-weight: 1000;
}

h1 {
    font-size: 60px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    background: linear-gradient(to bottom left, var(--primaryColor), var(--secondaryColor));
    background-clip: text;
    color: transparent;
}

@media only screen and (max-width: 940px) {
    div div div {
        height: 502px;
    }
}