<ngx-slick-carousel [config]="slickConfig">
    <div *ngFor="let movie of movieList" ngxSlickItem
        [ngStyle]="{'background-image': 'url(' + imgSrc + movie.backdrop_path + ')'}">
        <div class="gradient_y">
            <div class="gradient_x">
                <p>{{ movie.genre }}</p>
                <h1>{{ movie.title }}</h1>
                <div>
                    <i class="fa-solid fa-star"></i>
                    <span>{{ movie.vote_average }}</span>
                    <i class="fa-solid fa-circle"></i>
                    <span>{{ movie.release_date }}</span>
                </div>
                <div>{{ movie.overview }}</div>
                <button (click)="purchaseMovie(movie.id)">Acquista</button>
            </div>
        </div>
    </div>
</ngx-slick-carousel>