div {
    background-size: cover;
}

div > div.gradient_y {
    background: linear-gradient(to top, var(--backgroundColor), rgba(0, 0, 0, 0) 50%);
}

div > div > div.gradient_x {
    background: linear-gradient(to right, var(--backgroundColor), rgba(0, 0, 0, 0) 50%);
    padding: var(--menuHeight) var(--leftRightPadding) 0;
    box-sizing: border-box;
    height: 40vw;
}

p {
    background: linear-gradient(to bottom left, var(--primaryColor), var(--secondaryColor));
    line-height: 20px;
    display: inline-block;
    background-clip: text;
    color: transparent;
    font-weight: 1000;
    font-size: 20px;
}

h1 {
    font-size: 60px;
}

.gradient_x div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1%;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    background: linear-gradient(to bottom left, var(--primaryColor), var(--secondaryColor));
    background-clip: text;
    color: transparent;
}

@media only screen and (max-width: 940px) {
    div > div > div.gradient_x {
        height: 540px;
    }
}

@media only screen and (max-width: 1160px) {
    div > div > div.gradient_x {
        background: linear-gradient(to right, var(--backgroundColor), rgba(0, 0, 0, 0) 70%);
    }
}