:host {
    position: relative;
}

input {
    padding: 10px;
    border-radius: 10px;
    border: white solid 2px;
    background-color: transparent;
    color: white;
    transition: 0.1s;
    width: 20vw;
    box-sizing: border-box;
    font-size: 19px;
    font-weight: 500;
    height: 100%;
}

input:hover {
    border: 5px solid white;
}

:focus-visible {
    outline: 0;
    border: 5px solid white;
}

::placeholder {
    color: white;
    text-align: center;
}

div {
    position: absolute;
    z-index: 1;
    background-color: var(--secondaryBackgroundColor);
    border-radius: 10px;
    margin-top: 10%;
    width: 200%;
    text-wrap: balance;
    overflow-y: auto;
    right: 0;
    line-height: normal;
    max-height: 70vh;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10%;
    padding: 0;
}

li {
    display: flex;
    padding: 2% 5%;
    gap: 4%;
}

img {
    width: 30%;
    border-radius: 5px;
}

a {
    color: white;
    display: inline-block;
    height: min-content;
}