:host {
    position: relative;
}

input {
    padding: 10px;
    border-radius: 10px;
    border: white solid 2px;
    background-color: transparent;
    color: white;
    transition: 0.1s;
    width: 20vw;
    box-sizing: border-box;
    font-size: 19px;
    font-weight: 500;
    height: 100%;
}

input:hover {
    border: 5px solid white;
}

:focus-visible {
    outline: 0;
    border: 5px solid white;
}

::placeholder {
    color: white;
    text-align: center;
}

div {
    position: absolute;
    z-index: 1;
    background-color: gray;
    border-radius: 10px;
    margin-top: 10%;
    width: 100%;
    text-wrap: balance;
    max-height: 80vh;
    overflow-y: auto;
}