/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    margin: 0;
    --mainFont: 'Open Sans', sans-serif;
    font-family: var(--mainFont);
}


.slick-arrow {
    --arrow-gap: 2%;
}

.slick-arrow.slick-prev {
    left: var(--arrow-gap);
    z-index: 1;
}

.slick-arrow.slick-next {
    right: var(--arrow-gap);
}

.slick-arrow:not(:hover) {
    opacity: 0.4;
}

.slick-arrow.slick-disabled {
    display: none !important;
}