body {
    --backgroundColor: hsl(245, 37%, 12%);
    --secondaryBackgroundColor: hsl(245, 37%, 14%);

    margin: 0;
    background-color: var(--backgroundColor);
}

a {
    text-decoration: none;
}


.slick-arrow {
    --arrow-gap: 2%;
}

.slick-arrow:not(:hover) {
    opacity: 0.4;
}

.slick-arrow.slick-prev {
    left: var(--arrow-gap);
    z-index: 1;
}

.slick-arrow.slick-next {
    right: var(--arrow-gap);
}

.slick-arrow.slick-disabled {
    display: none !important;
}