<mat-toolbar color="primary">
    <div>
        <img src="../../../assets/logo1.png" alt="LABTV logo">
        <h1>LABTV</h1>
    </div>

    <a routerLink=''>Home</a>
    <a routerLink='/purchases'>Acquisti</a>

    <div>
        <app-search></app-search>
        <!-- <a routerLink="/login">
            <span *ngIf="loggedUser" class="user">
                <span class="material-symbols-outlined">person</span>
                {{ loggedUser.user.name }}
            </span>
            <span *ngIf="!loggedUser">Accedi</span>
        </a> -->
        <a *ngIf="!loggedUser" routerLink="/login">Accedi</a>
        <a *ngIf="loggedUser" routerLink="/login" class="user" (click)="logout()">
            <span class="material-symbols-outlined">person</span>
            {{ loggedUser.user.name[0] }} (Esci)
        </a>
    </div>
</mat-toolbar>