:host {
    position: absolute;
    z-index: 1;
    width: 100%;
}


mat-toolbar {
    --mat-toolbar-title-text-font: 'Open Sans', sans-serif;
    --mat-toolbar-title-text-weight: 1000;

    --gap: 2vw;

    background: linear-gradient(to bottom, var(--backgroundColor), rgba(0, 0, 0, 0));
    padding: 20px var(--leftRightPadding);
    height: auto;
    gap: var(--gap);
}

mat-toolbar * {
    height: 50px;
    line-height: 50px;
}

mat-toolbar h1 {
    --mat-toolbar-title-text-size: 30px;
}


img {
    transform: translateY(-8%);
}


a {
    color: white;
    transition: 0.5s;
    background: linear-gradient(to left bottom, var(--primaryColor), var(--secondaryColor));
    background-clip: text;
}

a[routerLink="/login"] {
    background-clip: border-box;
    border-radius: 10px;
    padding: 0 4%;
}

mat-toolbar > a:hover {
    color: transparent;
}


div:nth-child(1) {
    display: flex;
    align-items: center;
}

div:last-child {
    flex: 1;
    display: flex;
    align-items: center;
    gap: var(--gap);
    justify-content: flex-end;
}

.user {
    display: flex;
}