div {
    background-size: cover;
}

div>div.gradient_y {
    background: linear-gradient(to top, var(--backgroundColor), rgba(0, 0, 0, 0) 50%);
}

div>div>div.gradient_x {
    background: linear-gradient(to right, var(--backgroundColor), rgba(0, 0, 0, 0) 50%);
    padding: var(--menuHeight) var(--leftRightPadding) 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

p {
    background: linear-gradient(to bottom left, var(--primaryColor), var(--secondaryColor));
    line-height: 20px;
    display: inline-block;
    background-clip: text;
    color: transparent;
    font-weight: 1000;
    max-width: fit-content;
    margin: 0;
}

img {
    height: 70px;
    max-width: max-content;
}

.gradient_x div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.fa-star {
    background: linear-gradient(to bottom left, var(--primaryColor), var(--secondaryColor));
    background-clip: text;
    color: transparent;
    font-size: 16px
}

i {
    font-size: 4px;
    color: rgb(255, 255, 255, 0.5);
}

.overview {
    color: white;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 80%;
    max-width: 600px;
}

button {
    background: linear-gradient(to left bottom, var(--primaryColor), var(--secondaryColor));
    border: none;
    font-family: 'Open Sans', sans-serif;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 1% 2%;
    display: block;
    max-width: fit-content;
}

@media only screen and (max-width: 1160px) {
    div>div>div.gradient_x {
        background: linear-gradient(to right, var(--backgroundColor), rgba(0, 0, 0, 0) 70%);
    }
}

@media only screen and (max-width: 1440px) {
    h1 {
        max-width: 30%;
    }
}